.card {
  max-width: 400px;
  border: 1px solid transparent;
  font-size: 16px;
  -webkit-box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.4);
          box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.4);
}

.card .card-icon {
  font-size: 6em;
  padding-left: 15px;
}

.card .card-value {
  font-size: 4em;
  padding-right: 15px;
}

.card .card-title {
  font-weight: bold;
  font-size: 18px;
  padding-right: 15px;
  float: right;
}

.card .card-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 45px;
  width: 100%;
}

.card .card-footer a:hover {
  text-decoration: none;
  color: #fff !important;
}

.card .card-footer a:hover i {
  padding-left: 5px;
}

.card.card-red {
  border-color: #a31521;
  background-color: #e84f5c;
  color: #fdedef;
}

.card.card-red .card-icon {
  color: #f1939b;
}

.card.card-red .card-footer {
  background-color: #d01b2a;
}

.card.card-red .card-footer a {
  color: #fdedef;
}

.card.card-blue {
  border-color: #33658A;
  background-color: #72a5cb;
  color: #f4f8fb;
}

.card.card-blue .card-icon {
  color: #aac9df;
}

.card.card-blue .card-footer {
  background-color: #4180af;
}

.card.card-blue .card-footer a {
  color: #f4f8fb;
}

.card.card-green {
  border-color: #2a852f;
  background-color: #61cd67;
  color: #e9f8ea;
}

.card.card-green .card-icon {
  color: #9be09f;
}

.card.card-green .card-footer {
  background-color: #36ac3d;
}

.card.card-green .card-footer a {
  color: #e9f8ea;
}

.card.card-purple {
  border-color: #800080;
  background-color: #cd00cd;
  color: #ffb3ff;
}

.card.card-purple .card-icon {
  color: #ff1aff;
}

.card.card-purple .card-footer {
  background-color: #b300b3;
}

.card.card-purple .card-footer a {
  color: #ffb3ff;
}

.card.card-yellow {
  border-color: #bab90f;
  background-color: #f1f157;
  color: white;
}

.card.card-yellow .card-icon {
  color: #fbfbcd;
}

.card.card-yellow .card-footer {
  background-color: #e9e813;
}

.card.card-yellow .card-footer a {
  color: white;
}

body {
  padding-top: 50px;
}

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.navbar-fixed-top {
  border: 0;
}

.sidebar {
  display: none;
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */

.nav-sidebar {
  margin-right: -21px;
  /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}

.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

/*
 * Main content
 */

.main {
  padding: 20px;
}

@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}

.main .page-header {
  margin-top: 0;
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}

.placeholders h4 {
  margin-bottom: 0;
}

.placeholder {
  margin-bottom: 20px;
}

.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

