/* Main Header */
header.main-header {
  //height: 80%;
  width: 100%;
  margin-bottom: -20px;
}

header.main-header a {
  font-size: 18px;
  padding: 10px 20px;
  display: block;
  color: $white;
  border: 2px $white solid;
  font-weight: 500;
  background-color: $red;
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
}

header.main-header a:hover {
  background-color: $dark;
  color: $white;
  cursor: pointer;
  text-decoration: none;
}

header.main-header .main-header-inner .cc-text {
  animation-delay: 2s;
  -moz-animation-delay: 2s;
  -webkit-animation-delay: 2s;
}

header.main-header .main-header-inner .cc-all {
  animation-delay: 3s;
  -moz-animation-delay: 3s;
  -webkit-animation-delay: 3s;
  margin-left: auto;
  margin-right: auto;
}

header.main-header .main-header-inner {
  // min-height: 200px;
  height: 100%;
  width: 100%;
  background: linear-gradient( rgba(42, 42, 42, 0.5), rgba(42, 42, 42, 0.5) ), url('../../../public/images/header-shake.jpg');
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  color: $white;
}

header.main-header h1 {
  color: $white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  padding: 15px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

header.main-header .main-header-bottom {
  background-color: $red;
  padding-top: 30px;
  padding-bottom: 30px;
  color: $white;
}

header.main-header .main-header-bottom .pull-left p {
  font-size: 22px;
  padding-top: 10px;
  line-height: 28px;
}