$top-bar-border: darken($white, 20%);
$top-bar-bg: $white;
$top-bar-text: lighten($dark, 20%);

.top-bar {
  margin-right: auto;
  margin-left: auto;
  padding: 15px;
  top: 0;
  position: fixed;
  background-color: $top-bar-bg;
  border-bottom: 1px $top-bar-border solid;
  width: 100%;
  z-index: 100;
  color: $top-bar-text;
}

.top-bar .img-responsive {
  display: unset;
}

.top-bar .info {
  float: right;
  padding-right: 50px;
}

.top-bar .info > p {
  font-size: 20px;
  color: $dark;
  margin-bottom: -20px;
}

.top-bar .info > h1 {
  color: lighten($red, 10%);
  font-weight: 700;
}
