// Colors
$white: #FFFFFF;
$red: #ed1b24;
$blue: #33658A;
$green: #2a852f;
$yellow: #bab90f;
$magenta: #ff00ff;
$purple: #800080;
$grey: #585859;
$dark: darken($grey, 5%);
$dark-text: darken($grey, 20%);
$light-text: lighten($grey, 15%);
$body-bg: #f7f7f7;
$navs-bg: #272727;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: $red;
$brand-info: lighten($blue, 10%);
$brand-success: lighten($green, 10%);
$brand-warning: $yellow;
$brand-danger: lighten($red, 20%);

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Ubuntu", sans-serif;
$font-size-base: 16px;
$line-height-base: 1.6;
$text-color: lighten($dark, 50%);

// Navbar
$navbar-default-bg: $white;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: $white;