@import "img";
@import "countdown";
@import "error-pages";
@import "pricing";
@import "featured-services";
@import "friendly-service";
@import "call-anytime";
@import "why-choose-us";
@import "portfolio-home";
@import "colors";
@import "social";
@import "panels";
@import "nav-pills";

/* Global Styles */
html,
body {
  height: 100%;
}

body {
  padding-top: 155px;
}

/* Responsive Styles */

@media (max-width: 991px) {
  .customer-img,
  .img-related {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .featured-services {
    background-color: transparent;
    padding-top: 100px;
  }

  header.main-header .main-header-inner .cc-text {
    padding-top: 80px;
  }

  .timer {
    float: left !important;
  }

  .img-portfolio {
    margin-bottom: 15px;
  }
}

@media (max-width: 425px) {
  header.main-header .main-header-inner h1 {
    font-size: 18px;
    padding: 0;
  }

}