@import "portfolio-home";
@import "colors";
@import "social";
@import "panels";
@import "nav-pills";
@import "logos";

/* Global Styles */
html,
body {
  height: 100%;
}

body {
  padding-top: 155px;
}

.img-portfolio {
  margin-bottom: 30px;
}

.img-hover:hover {
  opacity: 0.8;
}

$countdown-text: $white;
$countdown-bg: $red;

/* Countdown */
.countdown {
  color: $countdown-text;
  background-color: $countdown-bg;
}

.countdown-description {
  padding-top: 15px;
  font-size: 22px;
}

.timer {
  float: right !important;
}

.error-404 {
  font-size: 100px;
}

.price {
  display: block;
  font-size: 50px;
  line-height: 50px;
}

.price sup {
  top: -20px;
  left: 2px;
  font-size: 20px;
}

.period {
  display: block;
  font-style: italic;
}

/* Responsive Styles */

@media (max-width: 991px) {
  .customer-img,
  .img-related {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .timer {
    float: left !important;
  }

  .img-portfolio {
    margin-bottom: 15px;
  }
}